.container{
	background-color: black;
	height: 100%;
	width: 100%;
	z-index: 1;
	color: white;
	font-family: "Roboto";
	font-weight: 300
}

.restaurant_home,.qcontainer{
	text-align: center;
	top:25%;
	position: relative;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#rdate, #rppl{
	margin: 5px;
	border-radius: 3px;
	border: none;
	text-align: center;
	height:30px;
	background-color: black;
	border-bottom: 1px solid white;
	color: white
}

#rppl{
	width: 30px;
	
}

#rdate{
	width: 150px;
	font-size: .7em;
	padding-left: 5px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background-color: white !important;
    color: black;
    display: inline
}

select {
	background-color: white;
	border: none;
	color: black;
	height: 30px;
	width: 150px
}

h4, label{
	font-weight: 100
}

#rsubmit{
	margin: 30px;
	background-color: white;
	font-size: 1.3em;
	height: 40px;
	width: 300px
}

.rqbox{
	text-align: center;
	margin-bottom: 10px;
	position: relative;
}

.rquest{
	font-weight: 200;
	line-height: 150%
	
}

#other-inpt{
	height:150px;
	width:500px;
	border-radius: 15px;
	border:none;
	margin: 15px
}

.confirm{
	margin: 0px 5px;
}

.rabox{
	height: 30%;
	display: flex;
	flex-direction:column;
	text-align: center;;

}

.rans{
	height: 25%;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 5px;
	background: transparent;
	color: white;
	font-size:1.5em;
	font-family: 'Lato' sans-serif;
	padding-bottom: 9px
}

.rans:hover{
	background-color: white;
	font-size:1.5em;
	font-family: 'Lato' sans-serif;
}

.obox{
	position: relative;
	top: -30%
}

.obox input{
	color: black;
	vertical-align: top!important;
	text-align: left;
}
