#home{
	color: white;
	margin-top: 1.5%;
	left: 1.5%;
	z-index: 10;
	font-size: 1.5em
}
.background{
	height: 110%;
	width: 100%;
	z-index: 1;
	position: fixed;
	top:-10%;


}

.infobox, .rinfo{
	position: absolute;
	height: 50%;
	width: 50%;
	text-align: center;
	border-radius: 10px;
	
}

.rinfo{
	z-index: 100;
	top: 25%;
	left:25%;
	opacity: .7;
	background: white;
}

.infobox{
	
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0%;
	overflow: scroll;
}

.rtext{
	opacity: 1;
	z-index: 300;
	font-weight: 500
}

#rmenu, #rweb{
	margin: 7px
}

#rdesc{
	font-size: 1.4em
}

#rline3{
	font-size: 1.3em
}

#raddress1, #raddress2{
	font-size: 1.2em
}

#rphone{
	font-size: 1.2em
}

.rtext{
	margin-bottom: 15px
}

#raddress1{
	margin-bottom: -7px
}

#rname{
	font-size: 4em;

}